{% extends 'base.html.twig' %}
{% block title %}Food-X User{% endblock %}

{% block body %}
    
    

    {{ include('admin/modifierU_back.html.twig', {'button_label': 'Update'}) }}


   
    <td>
        <form action="{{ path('back_utilisateur') }}">
             <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
             style="height: 50px; padding: 6px 30px; "> Back to list</button>
         </form>
     </td>
   
{% endblock %}
